/* Explanation in JS tab */
@use 'base/variables' as v;
@use 'base/mixins' as m;

/* Cool font from Google Fonts! */
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

.morph {
	height: 100vh;
}

#container {
	/* Center the text in the viewport. */
	// position: absolute;
	margin: auto;
	margin-bottom: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to top, v.$grisOscuro , #000);
	display: flex;
	justify-content: center;
	align-items: center;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	// filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
    color: v.$blanco;
	position: absolute;
	width: 100%;
	display: inline-block;
	
	font-family: 'Raleway', sans-serif;
	font-size: 5rem;
	text-align: center;
	user-select: none;

	@include m.tablet {
		font-size: 13rem;
	} 
}